.main-ber
  .main-ber__chat-name
    .main-ber__chat-name-left
      .main-ber__chat-name-group
        techcamp
      .main-ber__chat-name-member
        Member:masa
    .main-ber__chat-name-right 
      = link_to 'Edit', '#', class:"edit-btn"

  .main-ber__chat-spaces
    = render @messages

  .main-ber__massage-form
    .form-input
      = form_for [@group, @message] do |f|
        .form_input__text-group
          = f.text_field :content, class: 'form-input__text', placeholder: 'type a message'
          .form_mask
            = f.label :image, class: 'form-input__icon' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'form-input__file'
        = f.submit 'Send', class: 'form-btn'
